@charset "UTF-8";
#items {
  display: flex;
  gap: 24px;
  width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* 启用平滑滚动效果 */
  /* 使用transition来增加滚动的过渡效果，设置持续时间为0.5秒 */
}
#items .first {
  min-width: calc(10vw - 24px);
}

.item {
  min-width: 400px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: #fff;
  border-radius: 24px;
  padding: 28px;
}
.item h4 {
  font-size: 12px;
}
.item h3 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
}
.item p {
  margin-top: 8px;
  font-weight: 300;
  font-size: 14px;
}

.fontwhite {
  color: white;
}

.fontblack {
  color: black;
}
.fontblack h4 {
  color: #888;
  font-weight: bold;
}
.fontblack p {
  font-weight: 400;
}